$color-primary-full-slider-bar: hsl(174, 77%, 80%);
$color-primary-slider-bg: hsl(174, 86%, 45%);
$color-primary-discount-bg: hsl(14, 92%, 95%);
$color-primary-discount-txt: hsl(15, 100%, 70%);
$color-primary-CTA-txt: hsl(226, 100%, 87%);

$color-neutral-pricing-component-bg: hsl (0, 0%, 100%);
$color-neutral-main-bg: hsl(230, 100%, 99%);
$color-neutral-empty-slider-bar: hsl(224, 65%, 95%);
$color-neutral-toggle-bg: hsl(223, 50%, 87%);
$color-neutral-txt: hsl(225, 20%, 60%);
$color-neutral-txt-CTA-bg: hsl(227, 35%, 25%);

$fs-Intro-para: 15px;

$ff-default: "Manrope", sans-serif;

$fw-default: 600;
$fw-bold: 800;
